body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: #e3e7eb;
  place-items: center;
  padding-top: 80px;
}

.container {
  background-color: white;
  width: 80%;
  height: auto;
  border: 1px solid rgb(180, 180, 180);
  margin: 50px auto;
  padding: 50px;
  box-shadow: 0px 0px 10px rgb(180, 180, 180);
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-columns: 700px 300px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
}

.subject {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}

.content {
  text-align: justify;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px 0;
  gap: 20px;
}

.contact-me {
  display: grid;
  background-color: rgb(29, 29, 29);
  width: 120px;
  height: 40px;
  margin: 30px 0;
  box-sizing: border-box;
  place-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.cv-download {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
}

.cv-download i {
  margin-left: 10px;
}

.icon-sosmed {
  display: inline-block;
  margin: 20px;
  border-radius: 50%;
  background-color: black;
  padding: 12px;
  transform: translate(-50%, -50%);
}

.on-click {
  color: white;
  text-decoration: none;
}

.icon {
  font-size: 30px;
  vertical-align: middle;
}

.foto {
  background-color: #f8f5f5;
  width: 250px;
  padding: 20;
  margin: auto 90px;
  height: auto;
  border: 1px solid gainsboro;
  box-shadow: 0px 0px 10px rgb(180, 180, 180);
  text-align: center;
  border-radius: 10px;
}

.foto img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.foto h2,
.foto h5 {
  margin: 3px 0;
}

.foto h5 {
  font-weight: normal;
}
