/* Project Form */
.project-form {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 500px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}

.project-name input {
  width: 96.5%;
  font-size: 16px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.date {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.date-list {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.date-list label {
  margin-bottom: 0;
}

.date-list input {
  width: 96.5%;
  font-size: 16px;
  padding: 8px;
  margin-top: 5px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.project-form form textarea,
select {
  width: 96.5%;
  font-size: 16px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.project-form form textarea {
  height: 150px;
  resize: none;
}

.tech-options-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.tech-options-column {
  padding-top: 8px;
}

.tech-option {
  display: flex;
  margin-bottom: 10px;
}

.tech-option input {
  margin-right: 8px;
  margin-bottom: 10px;
}

.tech-option label {
  margin-bottom: 8px;
  color: #514a4a;
}

.input-image-group {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input-project-image {
  width: 90%;
  margin-top: 0;
  font-size: 16px;
  outline: none;
}

.input-project-image::-webkit-file-upload-button {
  background: #e4e4e4;
  color: #b2abab;
  padding: 8px 14px;
  border-radius: 8px;
  border: #b4b0b0;
  cursor: pointer;
}

.input-icon-container {
  padding: 0 8px;
  border-radius: 8px;
  margin-left: 8px;
  margin-top: 4px;
}

.button-group {
  text-align: right;
}

.project-form form button {
  padding: 5px;
  background-color: #111727;
  color: white;
  font-weight: bold;
  font-size: 13px;
  width: 100px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
}

/* Project list */
.project-list {
  background: #f8f8f8;
  padding: 20px 100px !important;
}

.project-list-title {
  padding: 40px !important;
  font-size: 20px !important;
  text-align: center !important;
}

.project-content {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)) !important;
}

.project-list-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 1rem 1rem 2rem !important;
  margin: 10px !important;
  background: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356) !important;
}

.project-image img {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 600/300 !important;
  border-radius: 10px !important;
}

.icon-tech i {
  font-size: 24px !important;
  margin-right: 10px !important;
}

.btn-group {
  text-align: center !important;
  width: 100% !important;
}

.btn-group .btn-edit {
  padding: 5px 10px !important;
  border: 0 !important;
  border-radius: 10px !important;
  background: #111727 !important;
  color: #f4f3f3 !important;
  width: 40% !important;
  margin-right: 20px !important;
}

.btn-group .btn-post {
  padding: 5px 10px !important;
  border: 0 !important;
  border-radius: 10px !important;
  background: #111727 !important;
  color: #f4f3f3 !important;
  width: 40% !important;
}

.project-content h1 a {
  text-decoration: none !important;
  color: #000000 !important;
  font-size: 20px !important;
}

.detail-project-content {
  font-weight: 300 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  margin-top: 0 !important;
}

.project-list-item p {
  margin-top: 20px !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: justify !important;
}

@media only screen and (max-width: 576px) {
  .form-container {
    width: 70%;
  }

  .form-container h1 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .tech-options-row {
    width: 60%;
  }

  .project-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .date {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .date-list {
    width: 100%;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn-group .btn-edit {
    margin-right: 0;
  }

  .detail-container img {
    width: 100%;
  }

  .project-detail-container {
    width: 100%;
  }

  .detail {
    width: 100%;
  }

  .detail-duration,
  .detail-tech {
    padding: 0 20px;
  }

  .project-name input {
    width: 96.5%;
    font-size: 16px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
  }

  .project-form form textarea,
  select {
    width: 96.5%;
    font-size: 16px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
  }

  .project-form form textarea {
    height: 150px;
    resize: none;
  }

  .project-form form button {
    padding: 5px;
    background-color: #111727;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
  }
}
